@model CricketWebApplicationMVC.Models.AddTeamModel

@{
    ViewData["Title"] = "ManageTeam";
}

<style>
    .row {
        place-content: center;
        padding: 5px;
    }

    form {
        border-radius: 10px;
        padding: 15px;
    }

    .btn {
        width: 90%;
    }


    .col-md-3 {
        margin: 5px;
    }

    .suggestions-box {
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        max-height: 150px;
        width: 100%;
        overflow-y: auto;
    }

    .suggestion-item {
        color: white;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        border-bottom: 1px solid #333;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }

        .suggestion-item:hover {
            background-color: #333;
            border-radius: 5px;
        }

    .input-group-append {
    }

    .clear-input {
        background-color: #fff;
    }

        .clear-input:hover {
            background-color: aliceblue;
            cursor: pointer;
        }

</style>


<center>
    <h2>Manage Team</h2>
</center>

<hr />

<form asp-action="ManageTeam" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input placeholder="Enter Team ID" id="teamIdInput" asp-for="TeamID" class="form-control" />
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="button" id="enterButton" value="Enter" class="btn btn-primary" />
            </div>
        </div>
    </div>

   
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TeamName" class="control-label">Team Name</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TeamLogo" class="control-label">Team Logo</label>
                <input type="file" name="UploadFile" accept="image/png, image/jpg, image/jpeg, image/WEBP" id="TeamLogo" asp-for="TeamLogo" class="form-control" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="TeamLogo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <img id="blah" alt="" height="100px" class="TeamLogo" src="/TeamLogo/@Html.DisplayFor(model => model.TeamLogo)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label class="control-label">Player Names</label>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player1" placeholder="Player 1" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player2" placeholder="Player 2" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player3" placeholder="Player 3"  class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player3" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player4" placeholder="Player 4" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player4" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player5" placeholder="Player 5" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player5" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player6" placeholder="Player 6" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player6" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player7" placeholder="Player 7" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player7" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player8" placeholder="Player 8" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player8" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player9" placeholder="Player 9" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player9" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player10" placeholder="Player 10" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player10" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player11" placeholder="Player 11" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                            <span asp-validation-for="Player11" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width:100%; padding:10px 30px;" class="col-md-6" id="suggestionsContainer"></div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="display:flex; justify-content:center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <a asp-controller="AddTeam" asp-action="Index">Team List</a>
                </div>
            </div>
        </div>
    </div>
</form>


@{

    var alertMessage = TempData["AlertMessage"] as string;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <script>
        alert('@alertMessage');
    </script>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/ManageTeamScript.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
