@model CricketWebApplicationMVC.Models.AddTeamModel

@{
    ViewData["Title"] = "AddTeam";
}

<style>
    .row {
        place-content: center;
        padding: 5px;
    }

    form {
        border-radius: 10px;
        padding: 15px;
    }

    .btn {
        width: 90%;
    }

    
    .col-md-3{
        margin:5px;
    }

    .suggestions-box {
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        max-height: 150px;
        width: 100%;
        overflow-y: auto;
    }

    .suggestion-item {
        color: white;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        border-bottom: 1px solid #333;
        font-size:16px;
        display: flex;
        justify-content: space-between;
    }

        .suggestion-item:hover {
            background-color: #333;
            border-radius:5px;
        }

    .input-group-append{
       
    }

    .clear-input{
        background-color:#fff;
    }

    .clear-input:hover{
        background-color:aliceblue;
        cursor:pointer;
    }

</style>


<center>
    <h2>Add Team</h2>
</center>

<hr />

<form asp-action="AddTeam" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TeamName" class="control-label">Team Name</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TeamLogo" class="control-label">Team Logo</label>
                <input type="file" name="UploadImg" accept="image/png, image/jpg, image/jpeg, image/WEBP" id="TeamLogo" asp-for="TeamLogo" class="form-control" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="TeamLogo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <img id="blah" alt="" height="100px" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
           
                <div class="form-group">
                    <label class="control-label">Player Names</label>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player1" placeholder="Player 1"  class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player2" placeholder="Player 2" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player3" placeholder="Player 3" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player4" placeholder="Player 4" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player5" placeholder="Player 5" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player6" placeholder="Player 6" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player7" placeholder="Player 7" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player8" placeholder="Player 8" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player9" placeholder="Player 9" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player10" placeholder="Player 10" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="playerNameInput" asp-for="Player11" placeholder="Player 11" class="form-control" style="border-radius: 4px;" />
                            <div class="input-group-append">
                                <span class="input-group-text clear-input">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width:100%; padding:10px 30px;" class="col-md-6" id="suggestionsContainer"></div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="display:flex; justify-content:center">
                    <input type="submit" value="Add Team" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <a asp-action="Index">View Teams</a>
                </div>
            </div>
        </div>
    </div>
</form>


@{
    var alertMessage = TempData["AlertMessage"] as string;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
<script>
        alert('@alertMessage');
</script>

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
    <script>
        $(document).ready(function () {
            const playerInputs = $('[id^=playerNameInput]');
            const suggestionsContainer = $('#suggestionsContainer');
            let submittingForm = false; // Flag to track form submission

            // Initialize a map to store suggestions for each input field
            const suggestionsMap = {};

            playerInputs.on('input', function () {
                const query = $(this).val();
                const inputField = $(this); // Reference to the input field

                // Call the backend API with the query and handle the response
                $.get(`/AddTeam/GetPlayerSuggestions?query=${query}`, function (data) {
                    displaySuggestions(data, inputField);
                });
            });

            function displaySuggestions(suggestions, inputField) {
                // Clear previous suggestions
                suggestionsContainer.empty();

                // Display new suggestions in a black box with good design
                const suggestionsBox = $('<div class="suggestions-box"></div>');
                suggestions.forEach(function (suggestion) {
                    const suggestionItem = $('<div class="suggestion-item"></div>').text(suggestion);
                    const removeIcon = $('<span class="remove-player">&#10006;</span>'); // Cross icon to remove player
                    suggestionItem.append(removeIcon);
                    suggestionsBox.append(suggestionItem);

                    // Attach click event to suggestion items
                    suggestionItem.on('click', function () {
                        const playerName = $(this).text();
                        // Check if the player name is not already present in any other input field
                        if (!isPlayerNameUsed(playerName, inputField.attr('id'))) {
                            // Check if the player name is not already added to the same input field
                            if (!isPlayerNameAdded(playerName)) {
                                inputField.val(playerName); // Insert the clicked suggestion into the input box associated with the suggestion
                                suggestionsContainer.empty();
                            } else {
                                // Show alert if player name is already added to the same input field
                                alert("Player name already added to this input field");
                            }
                        } else {
                            // Show alert if player name is already used in another field
                            alert("Player name already added to another input field");
                        }
                    });

                    // Attach click event to remove icon
                    removeIcon.on('click', function (event) {
                        event.stopPropagation(); // Prevent click event from bubbling up to suggestionItem
                        const playerName = $(this).siblings('.suggestion-item').text();
                        inputField.val(''); // Clear the input field
                        $(this).parent().remove(); // Remove the suggestion from the list
                    });
                });

                suggestionsContainer.append(suggestionsBox);
            }

            // Function to check if a player name is already used in any other input field
            function isPlayerNameUsed(playerName, currentInputId) {
                let isUsed = false;
                playerInputs.each(function () {
                    const inputId = $(this).attr('id');
                    if (inputId !== currentInputId && $(this).val() === playerName) {
                        isUsed = true;
                        return false; // Break the loop if player name is found in any other input field
                    }
                });
                return isUsed;
            }

            // Function to check if a player name is already added to the same input field
            function isPlayerNameAdded(playerName) {
                let isAdded = false;
                playerInputs.each(function () {
                    if ($(this).val() === playerName) {
                        isAdded = true;
                        return false; // Break the loop if player name is found in the same input field
                    }
                });
                return isAdded;
            }

            // Add clear button functionality
            $(document).on('click', '.clear-input', function () {
                const inputField = $(this).closest('.input-group').find('input');
                inputField.val(''); // Clear the input field
            });

            // Update suggestionsMap on form submission
            // Update suggestionsMap on form submission and check if 11 players are entered
            $('form').on('submit', function (event) {
                submittingForm = true; // Set submittingForm flag to true when form is submitted
                event.preventDefault(); // Prevent the form from submitting initially

                let playersCount = 0;
                playerInputs.each(function () {
                    if ($(this).val().trim() !== '') {
                        playersCount++;
                    }
                });

                if (playersCount < 11) {
                    alert("11 players required");
                } else {
                    // Allow the form to submit if 11 players are entered
                    $(this).off('submit').submit();
                }
            });
        });

    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
