<center><h2 style="color:red; letter-spacing:3px">Player details not found.</h2></center>

<div class="row">
    <div class="col-md-10">
        <div class="form-group">
            <a asp-controller="AddTeam" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>